* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.div-contenedor-todo {
    background: #141414;
    text-align: center;
    bottom: 0%;
    top: 0%;
    right: 0%;
    left: 0%;
    position: fixed;
}

