* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.div-contenedor-todo {
    background: #141414;
    text-align: center;
    bottom: 0%;
    top: 0%;
    right: 0%;
    left: 0%;
    position: fixed;
}

.centrar-div{
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.lista-perfiles{
    max-width: 80%;
}

.title-perfil{
    font-size: 50px;
    width: 100%;
    font-weight: unset;
    color: #fff;
}

.capsula-perfil{
    margin: 2em 0;
}

.icon{
    width: 200px;
    border: 0.3em solid transparent;
}

li {
    display: inline-block;
}

li.profile{
    margin: 0 2vw 0 0;
}

.nombre-profile{
    color: #fff;
    display: block;
    margin: 0.6em;
    text-align: center;
}

.links-icon{
    text-decoration: none;
}

.botton-perfil{
    background-color: transparent;
    margin: 2em 0 1.5em;
    border: 2px solid grey;
    padding: 0.5em 1.5em;
    color: grey;
    display: block;
    text-decoration: none;
}

/*EFECTOS*/
.icon:hover {
    border: 0.3em solid #fff;
}

.botton-perfil:hover {
    color: #fff;
    border: 2px solid #fff;
}

li.profile {
    cursor: pointer;
}


/*MEDIA QUERY*/
@media screen and (max-width: 550px){
    .icon {
        width: 150px;
    }

    .title-perfil {
        font-size: 40px;
    }

}

@media screen and (max-width: 400px){
    .icon {
        width: 100px;
    }

    .title-perfil {
        font-size: 30px;
    }

}